<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="https://www.positronx.io" target="_blank" class="positronx"><fa-icon [icon]="faGasPump"></fa-icon>&nbsp;Rand Fuel</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active"><fa-icon [icon]="faSignInAlt"></fa-icon>&nbsp;Zaloguj</a>
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active"><fa-icon [icon]="faUserPlus"></fa-icon>&nbsp;Zarejestruj</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>