<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title><fa-icon [icon]="faUserPlus"></fa-icon>&nbsp;Zarejestruj</mat-card-title>
        <p class="normal-text"><fa-icon [icon]="faLightbulb"></fa-icon>&nbsp;Uzupełnij poniższy formularz w celu rejestracji</p>
      </mat-card-header>
  
      <form class="example-form">
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Login">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Hasło">
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-stroked-button color="accent" class="btn-block">Zarejestruj</button>
  
      </form>
    </mat-card>
  </div>